$primary-color: #5A67D8;
$secondary-color: #38B2AC;
$accent-color: #F56565;
$input-bg: #EDF2F7;

$background-color: #F7FAFC;
$text-color: #2D3748;
$muted-text-color: #718096;

$button-bg-color: #5A67D8;
$button-text-color: #FFFFFF;
$link-color: #2B6CB0;
$link-hover-color: #2C5282;

$border-color: #E2E8F0;
$divider-color: #CBD5E0;


$background-accent-color: #EDF2F7;

$success-color: #48BB78;
$warning-color: #ED8936;
$error-color: #E53E3E;


$font-family: 'Arial, sans-serif';

$container-width-small: 100%;
$container-width-medium: 90%;
$container-width-large: 80%;
$container-width-extra-large: 70%;
$table-border-color: #ddd;

$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-extra-large: 1200px;
